@font-face {
  font-family: orpheus-pro;
  src: url(../fonts/Orpheus-Regular.ttf);
}

@font-face {
  font-family: orpheus-pro;
  src: url(../fonts/OrpheusPro-Bold.ttf);
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  font-family: "orpheus-pro", "Lato", "Noto Sans TC", serif, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.7;
  width: 100%;
}

h1 {
  font-size: 60px;
  color: #333333;
}

h2 {
  font-size: 50px;
  color: #333333;
  padding-bottom: 40px;
}

h3 {
  font-size: 30px;
  color: #04CBC3;
}

h4 {
  font-size: 24px;
  color: #333333;
}

p {
  font-size: 18px;
  font-family: 'open Sans', Noto Sans SC;
  color: #666666;
  font-weight: 300;
  line-height: 2;
}

b, strong {
  font-weight: bolder;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: #fff;
  padding-right: 0;
  padding-left: 0;
}

.row {
  max-width: 1200px;
  margin: 0 auto;
}

header, footer {
  width: 100%;
}

header {
  /* negative top allows for 16 pixels of movement before sticking */
  top: -24px;
  height: 88px;
  z-index: 5;
}

/* PSEUDO ELEMENTS to create drop-shadow */
header::before,
header::after {
  content: '';
  display: block;
  height: 24px;
  /* make pseudo elements sticky as well */
}

/* SHADOW */
header::before {
  top: 64px;
  /* shadow is at bottom of element, so at 48 + 16 = 64px */
  -webkit-box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.2);
}

/* COVER */
header::after {
  /* linear gradient from background color to transparent acts as
     a transition effect so the shadow appears gradually */
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(20%, #fafafa), color-stop(20%, #f1f2f3), color-stop(5%, #f1f2f3), to(transparent));
  background: linear-gradient(180deg, #fff, #fafafa 20%, #f1f2f3 20%, #f1f2f3 5%, transparent);
  position: relative;
  top: -10px;
  /* cover should fall over shadow */
  z-index: 4;
}

/* HEADER CONTENT */
header > .nav {
  height: 88px;
  top: 0px;
  /* compensate for shadow with negative margin */
  margin-top: -16px;
  /* content should fall over shadow and cover */
  z-index: 6;
}

.nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  background-color: #fff;
  position: relative;
  height: 88px;
  top: 0;
  z-index: 2;
}

.nav .checkbox_toggle {
  display: none;
}

.nav .hamburgerMenu {
  display: none;
}

.nav .navbar-nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.nav li {
  margin: 10px 30px;
  cursor: pointer;
}

.nav li::before {
  content: '\03A7';
  padding-right: 60px;
  color: #04CBC3;
  font-family: 'open Sans', Noto Sans SC;
  font-weight: 100;
  font-size: 22px;
}

.nav li:nth-child(1)::before {
  content: '';
  padding-right: 0;
}

.nav li::after :hover, .nav li::after :active, .nav li::after :focus {
  content: '';
  width: 5px;
  border-radius: 50%;
  color: #04CBC3;
}

.nav a {
  font-size: 40px;
}

.nav a::after {
  content: "\2022";
  display: none;
  color: #04CBC3;
  position: absolute;
  top: -10px;
  right: -12px;
  font-size: 20px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.nav a:hover::after, .nav a:active::after, .nav a:focus::after {
  display: inline-block;
}

a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
  color: #333333;
  position: relative;
  border-bottom: 1px solid transparent;
}

a:hover, a:active, a:focus {
  color: #04CBC3;
  border-bottom: 1px solid #04CBC3;
  text-decoration: none;
}

.btn {
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 40px;
  border: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn:not(:disabled):not(.disabled).active:focus, .btn:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  background-color: #666666;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fafafa;
}

.btn {
  color: #fafafa;
  background-color: #333333;
}

.btn:hover {
  background-color: #555555;
  color: #fafafa;
}

.btn:focus {
  background-color: #666666;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fafafa;
}

.tab {
  cursor: pointer;
  padding: 10px 40px;
}

.tab a {
  text-decoration: none;
  font-size: 30px;
  color: #666666;
}

.tab a:hover {
  border-bottom: 1px solid #04CBC3;
  color: #04CBC3;
}

.tab a:active, .tab a:focus {
  color: #04CBC3;
}

.active > a {
  color: #04CBC3;
  border-bottom: 1px solid #04CBC3;
  text-decoration: none;
}

.contact h2 {
  color: #333333;
  text-align: center;
}

.contact .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1200px;
}

.contact .emailinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 10%;
}

.contact .emailinfo h4 {
  padding-bottom: 40px;
  text-align: left;
}

.contact .emailinfo p {
  text-align: left;
}

.contact .emailme, .contact .msg {
  width: 50%;
}

.contact .msg div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 15px 0;
}

.contact .msg label {
  padding-bottom: 0px;
  text-align: left;
}

.contact .msg input, .contact .msg textarea {
  border-radius: 0;
  border: 1px solid #999999;
  background-color: #FAFAFA;
  padding: 10px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.contact .msg input {
  height: 50px;
}

.contact .msg input[type=submit] {
  border-radius: 0px;
  cursor: pointer;
}

.contact .msg input:focus, .contact .msg textarea:focus {
  outline: 2px solid #04CBC3;
  border-color: transparent;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: transparent;
}

.contact .msg input[type=submit] {
  color: #fafafa;
  background-color: #333333;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.contact .msg input[type=submit] {
  color: #fafafa;
  background-color: #333333;
}

.contact .msg input[type=submit]:hover {
  background-color: #555555;
  color: #fafafa;
}

.hero {
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-top: 120px;
  padding-right: 15px;
  padding-left: 15px;
}

.content {
  display: inline-block;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

.heroMe {
  padding-top: 0px;
  padding-right: 0;
  padding-left: 0;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-right: 0px;
  padding-left: 0px;
}

@media (max-width: 575px) {
  header {
    position: relative;
    overflow-y: hidden;
  }
  h1 {
    font-size: 50px;
    color: #333333;
  }
  h2 {
    font-size: 40px;
    color: #333333;
    padding-bottom: 40px;
  }
  h3 {
    font-size: 36px;
    color: #04CBC3;
  }
  h4 {
    font-size: 24px;
    color: #333333;
  }
  p {
    font-size: 18px;
    font-family: 'open Sans', Noto Sans SC;
    color: #666666;
    font-weight: 300;
    line-height: 2;
  }
  .nav .checkbox_toggle {
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 20px;
    opacity: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 2;
    -webkit-touch-callout: none;
  }
  .nav .checkbox_toggle:checked + div span {
    opacity: 1;
    -webkit-transform-origin: 8px 2px;
            transform-origin: 8px 2px;
    background: #333333;
  }
  .nav .checkbox_toggle:checked ~ .navbar-nav {
    width: 150vw;
    height: 90vh;
    /* display: flex; */
    left: -25vw;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav .checkbox_toggle:checked ~ .navbar-nav li {
    display: inline-block;
    width: 100vw;
    text-align: center;
  }
  .nav .checkbox_toggle:checked ~ .navbar-nav li::before {
    display: none;
  }
  .nav .checkbox_toggle:checked ~ .navbar-nav a {
    opacity: 1;
  }
  .nav .checkbox_toggle:checked + div span:nth-child(1) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .nav .checkbox_toggle:checked + div span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .nav {
    position: relative;
    padding: 20px;
  }
  .nav div {
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 10px;
  }
  .nav span {
    display: block;
    width: 30px;
    height: 2px;
    margin-bottom: 8px;
    background: #333333;
    border-radius: 50px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 555;
  }
  .nav .navbar-nav {
    background-color: #fff;
    width: 100px;
    height: 100px;
    -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: 100%;
    position: absolute;
    top: -10px;
    left: -17px;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    list-style-type: none;
    -webkit-transition: .8s ease-out;
    transition: .8s ease-out;
    z-index: 0;
  }
  .nav .navbar-nav li {
    display: none;
    color: #FFF;
    padding-bottom: 12px;
  }
  .nav a {
    opacity: 0;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .contact .emailinfo {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .emailme, .contact .msg {
    width: 100%;
  }
}
/*# sourceMappingURL=common.css.map */