.hero .name {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.hero .personLogo, .hero .personName {
  text-align: center;
}

.hero .personName {
  color: #555;
}

.hero img {
  width: 330px;
  text-align: center;
}

.hero .personDiscription {
  font-size: 50px;
  text-align: center;
}

.hero .personDiscription span {
  color: #04CBC3;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.project {
  background-color: #333333;
  padding-top: 60px;
}

.project .content .btnArea {
  text-align: right;
}

.project h2 {
  color: #fafafa;
  text-align: center;
}

.project .designSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
  width: 100%;
  max-width: 1200px;
  position: static;
}

.project .designSection + .even {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  right: 5%;
}

.project .designSection + .even .projectImg .intrinsic {
  left: 15%;
}

.project .projectCard {
  background-color: #fafafa;
  padding: 60px;
  min-height: 350px;
  height: 48vh;
  z-index: 100;
  position: relative;
  top: 50px;
  text-align: left;
}

.project h4, .project .subheader, .project p {
  padding-bottom: 20px;
}

.project .projectImg {
  position: relative;
  left: -13%;
}

.project .projectImg .intrinsic {
  width: 130%;
  left: 0;
  position: relative;
}

.project .projectImg .intrinsic img {
  min-height: 100%;
  width: 100%;
  left: 0.0666267px;
  top: 0px;
  position: static;
}

.project .moreDesignSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -15px;
}

.project .moreDesignSection a {
  display: block;
}

.project .moreDesignSection .col-xl-4 {
  margin-bottom: 30px;
}

.project .moreDesignSection img {
  width: 100%;
}

h3 {
  text-align: left;
  position: relative;
  margin-top: 50px;
  margin-bottom: 60px;
  margin-left: 8%;
  position: relative;
}

h3::before,
h3::after {
  content: '';
  position: absolute;
  top: 50%;
  background: #04CBC3;
  width: 10%;
  height: 1px;
}

h3::before {
  left: -9%;
}

h3::after {
  width: 30%;
  left: 255px;
}

.web h3::after {
  left: 296px;
}

.visual h3::after {
  left: 323px;
}

@media (max-width: 575px) {
  .hero img {
    width: 80%;
  }
  .hero .personDiscription {
    font-size: 30px;
    text-align: center;
  }
  .container h3::after {
    position: absolute;
    left: 184px;
  }
  h3 {
    margin-top: 30px;
    margin-bottom: 40px;
    position: relative;
  }
  .web h3::after {
    left: 213px;
  }
  .visual h3::after {
    width: 27%;
    left: 232px;
  }
  .project .designSection {
    position: static;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .project .projectCard, .project .projectImg {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    position: static;
  }
  .project .projectCard {
    top: 0px;
    padding: 40px 5%;
  }
  .project .projectImg {
    padding-right: 0;
    padding-left: 0;
  }
  .project .projectImg .intrinsic {
    width: 100%;
    font-size: 0;
  }
  .project .designSection + .even {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    right: 0;
  }
  .project .designSection + .even .projectImg .intrinsic {
    left: 0;
  }
  .project .moreDesignSection {
    margin: 0;
  }
  .project .moreDesignSection .col-6 {
    padding: 0 1%;
  }
}
/*# sourceMappingURL=nomadrachel.css.map */