$mainColor: #333333;
$mainColorHover: #01A3B6;
$secondColor:#04CBC3;
$font-headerColor: #333333;
$font-pColor:#666666;
$font-secondColor:#04CBC3;
// $font-thirdColor:#4788C8;


$font-H1Size: 60px;
$font-H2Size: 50px;
$font-H3Size: 30px;
$font-H4Size: 24px;
$font-pSize: 18px;
$font-lineHeight: 1.7;
$font-H1Size-m: 50px;
$font-H2Size-m: 40px;
$font-H3Size-m: 30px;
$font-H4Size-m: 24px;
$font-pSize-m: 18px;


$btn-primaryColor: #333333;
$btn-primaryColorHover: #555555;
$btn-primaryColorActive: #666666;

$height-icon: 20px;
$width-line: 30px;
$height-line: 4px;

$transition-time: 0.4s;
$rotation: 45deg;
$translateY: ($height-icon / 2);
$translateX: 0;


