@import"variable";
@font-face {
    font-family: orpheus-pro;
    src: url(../fonts/Orpheus-Regular.ttf);
}
@font-face {
    font-family: orpheus-pro;
    src: url(../fonts/OrpheusPro-Bold.ttf);
    font-weight: bold;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    font-family: "orpheus-pro", "Lato", "Noto Sans TC", serif, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: $font-lineHeight;
    width: 100%;
}

h1{
    font-size: $font-H1Size;
    color: $font-headerColor;
}
h2{
    font-size: $font-H2Size;
    color: $font-headerColor;
    padding-bottom: 40px;
}
h3{
    font-size: $font-H3Size;
    color: $font-secondColor;
}
h4{
    font-size: $font-H4Size;
    color: $font-headerColor;
}
p{
    font-size: $font-pSize;
    font-family: 'open Sans', Noto Sans SC;
    color: $font-pColor;
    font-weight: 300;
    line-height: 2;
}
b, strong {
    font-weight: bolder;
}
.container{
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 60px;
    padding-top: 60px;
    background-color: #fff;
    padding-right: 0;
    padding-left: 0;
}
.row{
    max-width: 1200px;
    margin: 0 auto;
}
header, footer{
    width: 100%;
}
header{
    // position: sticky;
      /* negative top allows for 16 pixels of movement before sticking */
    top: -24px; 
    height: 88px;
    z-index: 5;
    // box-shadow: -4px -4px 20px 0px rgba(255,255,255,1), 4px 4px 25px 0 rgba(0,0,0,.1);
}
/* PSEUDO ELEMENTS to create drop-shadow */
header::before,
header::after {
  content: '';
  display: block;
  height: 24px;
  /* make pseudo elements sticky as well */
//   position: sticky;
//   -webkit-position: sticky;
}

/* SHADOW */
header::before {
    top: 64px; /* shadow is at bottom of element, so at 48 + 16 = 64px */
//   box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
    box-shadow: 4px 4px 40px 0 rgba(0,0,0,.2);
}

/* COVER */
header::after {
    /* linear gradient from background color to transparent acts as
     a transition effect so the shadow appears gradually */
     background: linear-gradient(180deg, #fff, #fafafa 20%, #f1f2f3 20%,#f1f2f3 5%, transparent);
    // background: linear-gradient(white 1%, rgba(255,255,255,0.8) 10%, rgba(0,0,0,.2) 10%, transparent);
    position: relative;
    top: -10px;
    /* cover should fall over shadow */
    z-index: 4;
    // position: absolute;
}
/* HEADER CONTENT */
.nav {
    // background: orange;
    height: 88px;
    // padding: 20px;
    // position: sticky;
    // -webkit-position: sticky;
    top: 0px;
    /* compensate for shadow with negative margin */
    margin-top: -16px;
    /* content should fall over shadow and cover */
    z-index: 6;
  }



.nav{
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    background-color: #fff;
    position: relative;
    // position: fixed;
    height: 88px;
    top: 0;
    z-index: 2;
    .checkbox_toggle{
        display: none;
    }
    .hamburgerMenu{
        display: none;
    }
    .navbar-nav{
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
    li{
        margin: 10px 30px;
        cursor: pointer;
        // transition: all 0.2s;
    }
    // li:hover, li:active, li:focus{
    //     // color: $secondColor; 
    //     // border-bottom: 1px solid $secondColor;
    // }
    li::before{
        content: '\03A7';
        padding-right: 60px;
        color: $secondColor; 
        font-family: 'open Sans', Noto Sans SC;
        font-weight: 100;
        font-size: 22px;
    }
    li:nth-child(1)::before{
        content: '';
        padding-right: 0;
    }
    li::after{
        & :hover, :active, :focus {
            content: '';
            width: 5px;
            border-radius: 50%;
            color:$secondColor;
        }
    }
    a{
        font-size: 40px;
    }
    a::after{
        content: "\2022";
        display: none;
        color: $font-secondColor;
        position: absolute;
        top: -10px;
        right: -12px;
        font-size: 20px;
        transition: all 0.2s;
    }
    a:hover::after, a:active::after, a:focus::after {
        display: inline-block;
        
    }
}
a{
    transition: all 0.3s;
    text-decoration: none;
    color: $font-headerColor;
    position: relative; 
    border-bottom: 1px solid transparent;
}
a:hover, a:active, a:focus{
    color: $font-secondColor;
    border-bottom: 1px solid $secondColor;
    text-decoration: none;
}
.btn{
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 40px;
    border: 0px;
    box-shadow: none;
}
.btn:not(:disabled):not(.disabled).active:focus, .btn:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color:$btn-primaryColorActive;
    box-shadow: none;
    color: #fafafa;
}
.btn{
    color: #fafafa;
    background-color: $btn-primaryColor;
}
.btn:hover{
    background-color: $btn-primaryColorHover;
    color: #fafafa;
}
// .btn:active{
//     background-color:$btn-primaryColorActive;
//     box-shadow: none;
//     color: #fafafa;
// }
.btn:focus{
    background-color: $btn-primaryColorActive;
    box-shadow: none;
    color: #fafafa;
}
.tab{
    cursor: pointer;
    padding: 10px 40px;
    a{
        text-decoration: none;
        font-size: $font-H3Size;
        color: $font-pColor;
    }
    a:hover{
        border-bottom: 1px solid $secondColor;
        color: $secondColor;
    }
    a:active,a:focus{
        color: $font-secondColor;
    }
}
.active{
    >a{
        color: #04CBC3;
        border-bottom: 1px solid #04CBC3;
        text-decoration: none;
    }
}


.contact{
    h2{
        color: $font-headerColor;
        text-align: center;
    } 
    .content{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 1200px;

    }
    .emailinfo{
        display: flex;
        flex-direction: row;
        padding: 0 10%;
        h4{
            padding-bottom: 40px;
            text-align: left;
        }
        p{
            text-align: left;
        }
    }
    .emailme,.msg{
        width: 50%;
    }
    .msg{
        div{
            display: inline-flex;
            flex-direction: column;
            width: 100%;
            padding: 15px 0;
        }
        label{
            padding-bottom: 0px;
            text-align: left;
        }
        input, textarea{
            border-radius: 0;
            border: 1px solid #999999;
            background-color:#FAFAFA;
            padding: 10px;
            transition: all .3s;
        }
        input{
            height: 50px;
        }
        input[type=submit]{
            border-radius: 0px;
            cursor: pointer;
        }
        // textarea.input {
        //     resize: vertical;
        //     min-height: 200px;
        //     background-color:#FAFAFA;
        //     padding: 10px;
        // }
        input:focus, textarea:focus{
            outline: 2px solid $secondColor;
            border-color: transparent;
            box-shadow:0 0 10px rgba(0, 0, 0, 0.1);
            background-color: transparent;
        }
        input[type=submit]{
            color: #fafafa;
            background-color: $btn-primaryColor;
            transition: all .3s;
        }
        input[type=submit]{
            color: #fafafa;
            background-color: $btn-primaryColor;
        }
        input[type=submit]:hover{
            background-color: $btn-primaryColorHover;
            color: #fafafa;
        }
        
    }

}
.hero{
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 120px;
    padding-right: 15px;
    padding-left: 15px;
}
.content{
    display: inline-block;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}
.heroMe{
    padding-top: 0px;
    padding-right: 0;
    padding-left: 0;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
    padding-right: 0px;
    padding-left: 0px;
}
@media (max-width: 575px)  {
    body{
        position: relative;
    }
    
    header{
        position: absolute;
        overflow-y: hidden;
        background-color: transparent;
        height: 100vh;
    }
    header::before{
        box-shadow:none;
    }
    h1{
        font-size: $font-H1Size-m;
        color: $font-headerColor;
    }
    h2{
        font-size: $font-H2Size-m;
        color: $font-headerColor;
        padding-bottom: 40px;
    }
    h3{
        font-size: $font-H3Size-m;
        color: $font-secondColor;
    }
    h4{
        font-size: $font-H4Size-m;
        color: $font-headerColor;
    }
    p{
        font-size: $font-pSize-m;
        font-family: 'open Sans', Noto Sans SC;
        color: $font-pColor;
        font-weight: 300;
        line-height: 2;
    }
    .nav{
        .checkbox_toggle{
            display: inline-block;
            position: absolute;
            top: 20px;
            left: 20px;
            opacity: 0;
            width: 30px;
            height: 30px;
            cursor: pointer;
            z-index:2;
            -webkit-touch-callout: none;
            &:checked  {
                + div span{
                opacity: 1;
                transform-origin: 8px 2px;
                background: $mainColor;
            
                }
                ~ .navbar-nav{
                    width: 150vw;
                    height: 90vh;
                    // padding: 100px 0 0 20px;
                    /* display: flex; */
                    left: -25vw;
                    border-bottom-right-radius: 50%;
                    border-bottom-left-radius: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    li{
                        display: inline-block;
                        width: 100vw;
                        text-align: center;
                        
                    }
                    li::before{
                        display: none;
                    }
                    a{
                        opacity: 1;
                    }
                }
            }
        }
        .checkbox_toggle:checked+ div span:nth-child(1){
            transform: rotate(45deg);
        }
        .checkbox_toggle:checked+ div span:nth-child(2){
            transform: rotate(-45deg);
        }
    }
    .heroMe {
        top: 0;
        position: absolute;
    }
    .nav{
        position: relative;
        padding: 20px;
        height: 100vh;
        background-color: transparent;
        div{
            width: 30px;
            height: 30px;
            position: absolute;
            z-index: 1;
            top: 20px;
            left: 10px;
        }
        span{
            display: block;
            width: 30px;
            height: 2px;
            margin-bottom: 8px;
            background: $mainColor;
            border-radius:50px;
            transform: rotate(0deg);
            transition: .5s ease-in-out;
            cursor: pointer;
            z-index:555;
        }
        .navbar-nav{
            background-color: #fff;
            width: 100px;
            height: 100px;
            box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
            border-bottom-right-radius: 100%;
            position: absolute;
            top: -10px;
            left: -17px;
            -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
            -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
            list-style-type: none;
            -webkit-transition: .8s ease-out;
            transition: .8s ease-out;
            z-index: 0;
            li{
                display: none;
                color: #FFF;
                padding-bottom:12px;
                // transition: .8s ease-in-out;
                
            }
        }
        a{
            opacity: 0;
            transition: .5s ease-in-out;
        }
    }
    .container{
        padding-right: 15px;
        padding-left: 15px;
        // position: absolute;
        top: 0;
    }
    .contact{
        .emailinfo {
            padding: 0;
            flex-direction: column;
        } 
        .emailme, .msg {
            width: 100%;
        }
    }
}